header h1 {
    color: rgba(255, 0, 0, 0.733)
}

nav ul li {
    float: left;
}
nav ul li a{
    display: block;
    padding: .5rem 1rem;
    background-color: blue;
}

main img {
    float: right;
}

main h1 {
    clear: both;
}

footer {
    text-align: center;
}